node_modules/
.sfdx/
.sf/
*.log
.DS_Store
config.json
screenshots/*.png
dist/*.exe
!screenshots/step1-authentication.png
!screenshots/step2-excel-template.png
!screenshots/step3-conversion.png
!screenshots/step4-execution.png